name: Make Feeds

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *' # once per hour at minute 0
  
jobs:
  make-feeds:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Prepare directory
        run: mkdir -p feeds/apps
      
      - name: Build Binary
        run: go build -o feedmaker
        
      - name: Run
        run: ./feedmaker
        
      - name: Configure AWS Credentials for upload
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1
      
      - name: Sync to S3 and invalidate Cloudfront distribution if something changed
        run: |
          SYNCED_FILES=$( aws s3 sync --size-only feeds/ s3://${{ secrets.AWS_S3_BUCKET }} ); \
          if [ $(echo $SYNCED_FILES | wc -w) -ne 0 ]; then \
          echo $SYNCED_FILES; \
          aws cloudfront create-invalidation --distribution-id ${{ secrets.AWS_CLOUDFRONT_DISTRIBUTION }} --paths /apps/ ; \
          else echo "No changes on sync, no cache invalidation necessary."; fi
      
      - name: Push updated summary back to repo
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'dev@jonas.lol'
          git add current-feeds.md && git commit -m "[Bot] Update current feed summary" && git push
